.card{
    width: 18rem; 
    height: 25rem;
}

.image-container{
    max-height: 50%; 
    overflow: hidden;
}

.heading{
    text-align: center;
}

.heading>a{
    text-decoration: none;
}

.heading>a:hover{
    text-decoration: underline;
}
